/* HERO.STYL ======================================= */

#hero
    background: colorGray3 url(../img/hero/hero-bg2.jpg) center no-repeat
    background-size: cover
    height: calc(100vh - 100px)
    flexbox()
    flex-center()
    position: relative
    z-index: 1