/* VETROPACK.STYL ======================================= */

#vetropack
    background: #ccc

    .container
        flexbox()
        flex-center()
        flex-flow: column nowrap
        height: 400px

    .redline
        margin-bottom: 30px

    .title:after
        display: none

    p
        font-family: font3
        font-size: 16px
        color: colorWhite
        line-height: 20px

